body{
    background-color: #ffff99;
    font-family: sans-serif;
    background-image: url(/images/komasaufen02.png);
    background-repeat: repeat-y;
    background-position: left;
    background-size: 100px;

}
#ueberschrift{
    margin-left: 110px;
}
#bilder{
    margin-left: 110px;
}
#text{
    margin-left: 110px;
}